---
import '../styles/global.css';
const pageTitle ="About me";
const identity ={
    firstName:"Maik",
    hobby:"Web Development",
};
const skills=["JSX","TSX","HTML","CSS","LESS","Vue","Nuxt","Next.js","Remix.js","Astro.js","RedwoodJS","Koa","Gridsome","Saber","Solid","React","Preact"];
const happy = true;
const finished = false;
const goal = 3;
const skillColour="navy";
const fontWeight = "bold";
const textCase = "uppercase";
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
---
<head>
    <title>{pageTitle}</title>
    <style define:vars="{{skillColour,fontWeight,textCase}}">
        h1{
          color:purple;
          font-size: 4rem;
        }
        .skill{
            color:green;
            color:var(--skillColour);
            font-weight: var(--fontWeight);
            text-transform: var(--textCase);
        }
    </style>
</head>
<body>
    <Navigation/>
    <h1>{pageTitle}</h1>
    <h2>... and my new Astro site!</h2>
  
    <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>
  
    <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>
    <h2>Here are some facts about me: </h2>
    <p>My name is {identity.firstName} and my hobby is obviously {identity.hobby}.</p>
    <p>My Web Development skills are {skills.map((skill) => <li>{skill}</li>)}
    </p>
    {happy && <p>I am happy to be learning Astro!</p>}

{finished && <p>I finished this tutorial!</p>}

{goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
<Footer/>
<script>
    document.querySelector('.hamburger').addEventListener('click', () => {
      document.querySelector('.nav-links').classList.toggle('expanded');
    });
  </script>

  </body>